{# APP-OWNED FILE - rewritten on every launch, your edits here will be lost.
   Copy this folder to a sibling name and edit the copy. See ../README.txt #}
<h1>Inventory export{% if records %} - {{ records[0].generated_date }}{% endif %}</h1>
<table>
  <thead>
    <tr>
      <th class="col-num">#</th>
      <th class="col-sku">SKU</th>
      <th class="col-name">Name</th>
      <th class="col-client">Client</th>
      <th class="col-batch">Batch</th>
      <th class="col-expiry">Expiry</th>
      <th class="col-pos">Position</th>
      <th class="col-qr">QR SKU</th>
      <th class="col-qr">QR Position</th>
    </tr>
  </thead>
  <tbody>
    {% for record in records %}
    <tr>
      <td class="col-num">{{ loop.index }}</td>
      <td class="col-sku">{{ record.sku }}</td>
      <td class="col-name">{{ record.name }}</td>
      <td class="col-client">{{ record.client }}</td>
      <td class="col-batch">{{ record.batch }}</td>
      <td class="col-expiry">{{ record.expiry }}</td>
      <td class="col-pos">{{ record.position_code }}</td>
      <td class="col-qr"><img src="{{ label_tools.qr_code(record.sku) }}"></td>
      <td class="col-qr"><img src="{{ label_tools.qr_code(record.position_data) }}"></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
